obj_dir/
vcd/
.vscode/
tests/asm/hex/
tests/riscv/hex/
tests/c/hex/
spike.cmd
fs.img

# xv6 ignores
*.o
*.d
*.asm
*.sym
*.img
*~

xv6/_*
xv6/initcode
xv6/initcode.out
xv6/kernel/kernel
xv6/kernel/kernel.bin
xv6/kernel/kernel.hex
xv6/mkfs/mkfs
xv6/user/usys.S